.custom-photo-field {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  border-radius: 3px;
  cursor: pointer;

  input {
    display: none;
  }

  img {
    object-fit: cover;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    fill: var(--primary);
    transform: translate(-50%, -50%);
  }

  &:hover {
    img {
      opacity: 0.1;
    }

    .icon {
      display: block;
    }
  }
}
